{
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "semi": true,
    "useTabs": false,
    "bracketSpacing": true
}
